[Desktop Entry]
Categories=Graphics;
Comment[en_GB]=
Comment=
Exec=/home/zeus/Games/Steam/steamapps/common/Aseprite/aseprite
GenericName[en_GB]=Pixel Editor
GenericName=Pixel Editor
Icon=/home/zeus/.local/share/applications/aseprite.svg
MimeType=image/png;image/jpeg;image/gif;image/bmp;image/aseprite;
Name[en_GB]=Aseprite
Name=Aseprite
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-RunOnDiscreteGpu=false
X-KDE-SubstituteUID=false
X-KDE-Username=
