[Desktop Entry]
Actions=new-window;new-private-window;
Categories=Network;WebBrowser;
Comment=Access the Internet
Exec=/usr/bin/chromium-browser --enable-features=WebUIDarkMode --force-dark-mode %U
GenericName[en_GB]=Web Browser
GenericName=Web Browser
Icon=z-chrome
MimeType=application/pdf;application/rdf+xml;application/rss+xml;application/xhtml+xml;application/xhtml_xml;application/xml;image/gif;image/jpeg;image/png;image/webp;text/html;text/xml;x-scheme-handler/http;x-scheme-handler/https;
Name=Chromium Web Browser
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-KDE-SubstituteUID=false
X-KDE-Username=

[Desktop Action new-private-window]
Exec=/usr/bin/chromium-browser --incognito
Name[en_GB]=New Incognito window
Name=New Incognito Window

[Desktop Action new-window]
Exec=/usr/bin/chromium-browser
Name[en_GB]=New Window
Name=New Window
